{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="container my-5">
        <!-- Section: Account Header -->
        <h2>Espace membre</h2>
        
        <div class="row">
            <!-- Section: Sidebar -->
            <div class="col-md-3 mb-2">
                {% include 'account/sidebar.html.twig' %}
            </div>  

            <!-- Section: Account Content -->
            <div class="col-md-9 text-secondary-color">
                <h3 class="fs-1">Bienvenue, {{ app.user.username }}</h1>
                <p>Gérez vos informations de compte ici.</p>

                {% if app.user.roles == ['ROLE_USER'] %}
                    <p>Vous êtes un utilisateur simple.</p>
                {% elseif app.user.roles == ['ROLE_ADMIN'] %}
                    <p>Vous êtes un administrateur.</p>
                {% endif %}

                <p>Vous pouvez modifier vos informations personnelles <a href="{{ path('app_account_profil') }}">ici</a>.</p>
                
                <p>Vous pouvez également <a href="{{ path('app_logout') }}">vous déconnecter</a>.</p>

                <!-- Section: Commentaires -->
                <h3 class="my-4 fs-2">Vos commentaires</h3>
                {% if comments is not empty %}
                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="card">
                                    <div class="card-header mx-2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="card-title text-tertiary-color">{{ comment.blogPost.title }}</h4>
                                            <small class="text-end">{{ comment.createdAt|date('d/m/Y H:i') }}</small>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ comment.content|striptags }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="mt-3 text-center">
                        <a href="{{ path('app_account_all_comments') }}" class="btn btn-info">Voir tous les commentaires</a>
                    </div>
                {% else %}
                    <p class="text-muted">Vous n'avez pas encore laissé de commentaires.</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Fonction pour imprimer la page
        function printfile() {
            const style = document.createElement('style');
            style.type = 'text/css';
            style.media = 'print';
            style.innerHTML = `
                header, footer, .navbar, .section {
                    display: none;
                }
            `;
            document.head.appendChild(style);
            window.print();
        }
    </script>
{% endblock %}