{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}

    <!--About Section-->
    <div class="container-fluid">
        <div id="about" class="row about-section">

            <div class="row justify-content-center">
                <!-- Section: Personal Information Card -->
                <div class="col-md-12 card mx-2 w-50">
                    <div class="card-header text-center">
                        <h2 class="font-weight-light">Informations Personnelles</h2>
                    </div>
                    <div class="card-body text-center">
                        <ul class="mt-4 info list-unstyled">
                            <li><span>Date de naissance</span> : {{ about.birthdate|date('d/m/Y') }} <br>À {{ about.birthplace }} <br>en {{ about.birthcountry }}</li>
                            <li><span>Email</span> : {{ about.email }}</li>
                            <li><span>Téléphone</span> : {{ about.phone }}</li>
                            <li><span>Zoom</span> : {{ about.zoom }}</li>
                            <li><span>Adresse</span> : {{ about.address }}</li>
                        </ul>
                        <ul class="social-icons list-inline mb-4 text-center d-flex justify-content-center" aria-label="Réseaux sociaux">
                            <!-- Social Media Links -->
                            {% for social in about.socialLinks %}
                                <li class="social-item me-3">
                                    <a class="social-link text-light" href="{{ social.href }}" target="_blank">
                                        <img src="{{ social.imgSrc }}" alt="{{ social.imgAlt }}" title="{{ social.imgTitle }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>  
                    </div>
                </div>            
            </div>

            <div class="row justify-content-center">
                <!-- Section: About Card -->
                <div class="col-md-5 card m-4">
                    <div class="card-header text-center">
                        <h2 class="font-weight-light">Qui suis-je ?</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="mb-3">{{ about.jobTitle }}</h3>
                        <p>{{ about.aboutMe|raw }}</p>
                        <!-- bouton doit lancer le téléchargement du CV -->
                        <div class="mt-3 text-center">
                            <a id="btn_download_cv" class="btn btn-info" href="images/cv_richardbonnegent.pdf" download="CV-Richard-Bonnegent.pdf">Télécharger mon CV</a>
                        </div>
                    </div>
                </div>

                <!-- Section: Experience Card -->
                    <div class="col-md-5 card m-4">
                        <div class="card-header text-center">
                            <h2 class="font-weight-light">Mon Expérience</h2>
                        </div>
                        <div class="card-body">
                            {% for experience in about.experiences %}
                                <h3 class="mb-3">{{ experience.title }}</h3>
                                <p>{{ experience.description|raw }}</p>
                            {% endfor %}
                        </div>
                    </div>
            </div>

            <div class="row justify-content-center">
                <!-- Section: Skills Card -->
                <div class="col-md-5 card m-4">
                    <div class="card-header text-center">
                        <h4 class="mt-2">Skills</h4>
                        <span class="line"></span>  
                    </div>
                    <div class="card-body pb-2">
                        <p>{{ about.skills }}</p>
                    </div>
                </div>
                <!-- Section: Languages Card -->
                <div class="col-md-5 card m-4">
                    <div class="card-header text-center">
                        <h4 class="mt-2">Languages</h4>
                        <span class="line"></span>  
                    </div>
                    <div class="card-body pb-2">
                        <p>{{ about.languages }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}