{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Portfolio!{% endblock %}

{% block body %}

    <!-- Section: About Card -->
    <div class="container">
        <div id="about" class="row about-section">
            <div class="row justify-content-center">
                <div class="card m-4">
                    <div class="card-header text-center">
                        <h2 class="font-weight-light">Qui suis-je ?</h2>
                        <h3 class="text-tertiary-color mb-3">{{ about.jobTitle }}</h3>
                    </div>
                    <div class="card-body">
                        <p>{{ about.aboutMe|raw }}</p>
                        <!-- bouton doit lancer le téléchargement du CV -->
                        <div class="mt-3 text-center">
                            <a id="btn_download_cv" class="btn btn-info" href="images/cv_richardbonnegent.pdf" download="CV-Richard-Bonnegent.pdf" aria-label="Télécharger mon CV">Télécharger mon CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Section: Statistiques -->
    <section class="section bg-secondary-color text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">{{ totalHoursWorked|format_number }}</h2>
                            <p class="mb-1">Heures travaillées</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">{{ totalProjects|format_number }}</h2>
                            <p class="mb-1">Projets terminés</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">{{ totalLikes|format_number }}</h2>
                            <p class="mb-1">Nombre de likes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">{{ totalCoffees|format_number }}</h2>
                            <p class="mb-1">Cafés bus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Compétences -->
    <div class="container">
        <div id="skills" class="row about-section">
            <div class="row justify-content-center">
                <div class="card col-md-5 m-4">
                    <div class="card-header text-center">
                        <h4 class="mt-2">Compétences</h4>
                        <span class="line"></span>  
                    </div>
                    <div class="card-body pb-2">
                        <h6>HTML5 &amp; CSS3</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 97%" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>JavaScript</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>PHP</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>SQL</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Laborum</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Tempora</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card col-md-5 m-4">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Langues</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <h6>English</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>French</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Spanish</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Section: Services -->
    <section class="section" id="service">
        <div class="container">
            <h2 class="text-danger m-4">Mes Services</h2>
            <div class="row">
                {% for service in services %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <div class="card-header m-2 has-icon">
                                <h3 class="mt-2 card-title"><i class="{{ service.icon }} text-danger" aria-hidden="true"></i> {{ service.title }}</h3>
                            </div>
                            <div class="card-body pb-2">
                                <p class="subtitle">{{ service.description|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Section: Prix -->
    {# <section class="section" id="price">
        <div class="container">
            <h2 class="text-danger m-4">Packs Tarifs</h2>
            <div class="row align-items-center">
                {% for plan in pricingPlans %}
                    <div class="col-md-6 col-lg-3">
                        <div class="card mb-4 text-center">
                            <div class="card-header m-2">
                                <h3 class="card-title mt-2">{{ plan.name }} <span class="text-danger">{{ plan.price|price }}</span></h3>
                                <div class="card-text">
                                    <span class="text-danger">{{ plan.price|price }}</span> / 
                                    <span>{{ plan.currency }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="list-item"><span class="text-tertiary-color">{{ plan.projects }}</span> Projets</li>
                                    <li class="list-item"><span class="text-tertiary-color">{{ plan.storage }}</span> Stockage</li>
                                    <li class="list-item"><span class="text-tertiary-color">{{ plan.domains }}</span> Domaines</li>
                                    <li class="list-item"><span class="text-tertiary-color">{{ plan.users }}</span> Utilisateurs</li>
                                </ul>
                            </div>
                            <button class="btn btn-info btn-rounded w-50 mx-auto mb-2">S'abonner</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> #}

    <!-- Section: Freelance -->
    <section class="section bg-secondary-color py-5">
        <div class="container text-center">
            <h2 class="mb-5 font-weight-normal">Je suis disponible pour des missions freelance</h2>
            <button href="mailto:richard.bonnegent@gmail.com" target="_blank" class="btn btn-info w-lg">Engagez-moi</button>
        </div>
    </section>

    <!-- Section: Portfolio -->
    <section class="section-portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-danger m-4">Mes Projets</h2>
            <div class="portfolio">
                <!-- Filters -->
                <div class="filters text-center mb-4">
                    <a href="#" data-filter=".new" class="btn btn-info active" aria-label="Afficher les nouveautés">Nouveauté</a>
                    {% for framework in frameworks %}
                        <a href="#" data-filter=".{{ framework|lower }}" class="btn btn-info" aria-label="Afficher {{ framework }}">{{ framework }}</a>
                    {% endfor %}
                </div>

                <!-- Portfolio Items -->
                <div class="portfolio-container bg-secondary-color border border-primary-color rounded row">
                    {% for project in projects|slice(0, 5) %}
                        <div class="col-md-4 portfolio-item-wrapper {{ project.frameworks|keys|join(' ')|lower }} {% if loop.index <= 5 %}new{% endif %} position-relative">
                            <a href="{{ path('app_project_show', { id: project.id }) }}" class="d-block position-relative">
                                <img src="{{ asset('uploads/projects/' ~ project.image) }}" class="img-fluid m-2" alt="{{ project.title }}">
                                <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center">
                                    <h3 class="title text-primary-color text-center">{{ project.title }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Blog -->
    {% include "blog-post/blog-post.html.twig" %}

    <!-- Section: Contact -->
    {% include "home/contact.html.twig" %}

{% endblock %}

{% block javascripts %}
    {# Assurez-vous que jQuery est chargé avant d'utiliser le symbole $ #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>    
    
    <script>
        // portfolio filters
        document.addEventListener('DOMContentLoaded', function () {
            const filterButtons = document.querySelectorAll('.filters a');
            const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper');

            filterButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault(); // Empêche le comportement par défaut du lien
                    const filter = this.getAttribute('data-filter');

                    // Supprime la classe active de tous les boutons
                    filterButtons.forEach(btn => btn.classList.remove('active'));
                    // Ajoute la classe active au bouton cliqué
                    this.classList.add('active');

                    // Affiche ou masque les projets en fonction du filtre
                    portfolioItems.forEach(item => {
                        if (filter === '*' || item.classList.contains(filter.substring(1))) {
                            item.style.display = 'block'; // Affiche l'élément
                        } else {
                            item.style.display = 'none'; // Masque l'élément
                        }
                    });
                });
            });
        });

        function printfile() {
            const style = document.createElement('style');
            style.type = 'text/css';
            style.media = 'print';
            style.innerHTML = `
                header, footer, .navbar, .section {
                    display: none;
                }
            `;
            document.head.appendChild(style);
            window.print();
        }
        
    </script>
    
{% endblock %}