{% extends 'base.html.twig' %}

{% block title %}Resume{% endblock %}

{% block body %}

    <!--Resume Section-->
    <div class="container-fluid">
        <div id="resume" class="row resume-section scroll-offset">
            <h2 class="mx-auto mb-5 text-danger"><span>Mon</span> Parcours</h2>
            <div class="row justify-content-center">

                <!-- Section: Professional Experience Card -->
                <div class="col-md-5">
                    <div class="card m-4">
                        <div class="card-header text-center">
                            <h2 class="font-weight-light">Expérience Professionnelle</h2>
                        </div>
                        <div class="card-body">
                            {% for experience in about.experiences %}
                                {% if experience.title is null %}
                                    <hr class="text-danger mx-auto w-75 custom-hr">
                                    <h3 class="mb-3 text-tertiary-color">{{ experience.titleJob }}</h3>
                                    <p class="text-end text-tertiary-color"><strong>Du </strong> {{ experience.startDate|date('d/m/Y') }} <strong>au </strong> {{ experience.endDate|date('d/m/Y') }}</p>
                                    <p>{{ experience.descriptionJob|raw }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Section: Education / Formation Card -->
                <div class="col-md-5">
                    <div class="card m-4">
                        <div class="card-header text-center">
                            <h2 class="font-weight-light">Éducation / Formation</h2>
                        </div>
                        <div class="card-body">
                            {% for experience in about.experiences %}
                                {% if experience.institution is not null %}
                                    <hr class="text-danger mx-auto w-75 custom-hr">
                                    <h3 class="text-tertiary-color mb-3">{{ experience.title }}</h3>
                                    <p><strong>Institution :</strong> {{ experience.institution }}</p>
                                    <p class="text-end text-tertiary-color"><strong>Du </strong> {{ experience.startDate|date('d/m/Y') }} <strong>Au </strong> {{ experience.endDate|date('d/m/Y') }}</p>
                                    <p>{{ experience.description|raw }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Section: Skills / Languages Card -->
                <div class="col-md-2">
            
                    <!-- Section: Skills Card -->
                    <div class="card my-4">
                        <div class="card-header text-center">
                            <h4 class="mt-2">Compétences</h4>
                            <span class="line"></span>  
                        </div>
                        <div class="card-body pb-2">
                            {% for skill, data in skills %}
                                <h5 class="fs-6">{{ skill }} ({{ data.level }})</h5>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ data.percentage }}%" aria-valuenow="{{ data.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Section: Frameworks Card -->
                    <div class="card my-4">
                        <div class="card-header text-center">
                            <h4 class="mt-2">Frameworks</h4>
                            <span class="line"></span>  
                        </div>
                        <div class="card-body pb-2">
                            {% for framework, data in frameworks %}
                                <h5 class="fs-6">{{ framework }} ({{ data.level }})</h5>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ data.percentage }}%" aria-valuenow="{{ data.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Section: APIs Card -->
                    <div class="card my-4">
                        <div class="card-header text-center">
                            <h4 class="mt-2">APIS</h4>
                            <span class="line"></span>  
                        </div>
                        <div class="card-body pb-2">
                            {% for api, data in apis %}
                                <h5 class="fs-6">{{ api }} ({{ data.level }})</h5>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ data.percentage }}%" aria-valuenow="{{ data.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Section: Languages Card -->
                    <div class="card my-4">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Langues</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            {% for language, level in about.languages %}
                                <h5 class="fs-6">{{ language }}</h5>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ level }}%" aria-valuenow="{{ level }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}