<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Section: Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio de {{ about.firstname }} {{ about.lastname }}, un designer et développeur full-stack.">
        <meta name="keywords" content="{{ about.firstname }} {{ about.lastname }}, portfolio, designer, développeur, front-end, back-end, full-stack">
        <meta name="author" content="Richard Bonnegent">

        <title>{% block title %}Bienvenue!{% endblock %}</title>
        
        <!-- Section: Icons and Preloading -->
        <link rel="icon" href="{{ asset('static/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('static/apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ asset('static/site.webmanifest') }}">
        
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}        
    
    </head>
    <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="40" id="home">
        <!-- Section: Header -->
        <header class="header text-secondary-color py-5" style="background: url('{{ asset('uploads/imageHeader/' ~ about.imageHeader) }}') no-repeat center center; background-size: cover;">
            <div class="container">
                <ul class="social-icons list-inline mb-4 text-center d-flex justify-content-start" aria-label="Réseaux sociaux">
                    <!-- Social Media Links -->
                    {% for social in about.socialLinks %}
                        <li class="social-item me-3">
                            <a class="social-link" href="{{ social.href }}" target="_blank" aria-label="{{ social.imgAlt }}">
                                <img src="{{ asset(social.imgSrc) }}" alt="{{ social.imgAlt }}" title="{{ social.imgTitle }}" aria-hidden="true">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="text-shadow text-start p-3">
                    <h2 class="fw-bold fs-2 p-2">Bonjour, Je suis</h2>
                    <h1 class="display-4 p-2 fw-bold" style="font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300))); line-height: .7; margin: 25px;">
                        {{ about.firstname }}<br><span class="d-block mt-2">{{ about.lastname }}</span>
                    </h1>
                    <h3 class="fw-bold fs-1 mb-3 p-2"> {{ about.jobTitle }}</h3>
                    <button class="btn btn-info btn-rounded" onclick="printfile()" aria-label="Imprimer CV"><i class="bi bi-printer pr-2"></i> Imprimer</button>
                </div>
            </div>
        </header>
        <!-- Section: Navbar -->
        <nav class="navbar navbar-expand-lg bg-secondary-color sticky-top shadow navbar-custom-border" aria-label="Navigation principale">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Navbar Links -->
                        <li class="nav-item">
                            <a href="{{ path('app_home') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" aria-label="Accueil">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_about') }}#about" class="nav-link {% if app.request.attributes.get('_route') == 'app_about' %}active{% endif %}" aria-label="À propos">À propos</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_resume') }}#resume" class="nav-link {% if app.request.attributes.get('_route') == 'app_resume' %}active{% endif %}" aria-label="Resume">Mon parcours</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav brand d-none d-sm-flex align-items-center justify-content-between">
                        <img src="/uploads/imageAvatar/{{ about.imageAvatar }}" alt="Avatar de {{ about.firstname }} {{ about.lastname }}" class="brand-img rounded-circle me-3 border border-primary-color border-4" width="100" height="100">
                        <li class="brand-txt">
                            <h5 class="brand-title">{{ about.firstname }} {{ about.lastname }}</h5>

                            <div class="brand-subtitle">{{ about.jobTitle }}</div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <!-- Navbar Links -->
                        <li class="nav-item">
                            <a href="{{ path('app_project') }}#projects" class="nav-link {% if app.request.attributes.get('_route') == 'app_project' %}active{% endif %}" aria-label="Mes Projets">Mes Projets</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_blog_post') }}#blog" class="nav-link {% if app.request.attributes.get('_route') == 'app_blog_post' %}active{% endif %}" aria-label="Blog">Blog</a>
                        </li>
                        <li class="nav-item last-item">
                            <a href="{{ path('app_home') }}#contact" class="nav-link" aria-label="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="speed-menu ms-3">
                    {% if app.user %}
                        <a href="{{ path('app_account') }}">
                        {% if app.user.imageAvatar %}
                            <img class="rounded-circle" style="height: 25px; width: 25px;" src="{{ asset('uploads/imageAvatar/' ~ app.user.imageAvatar) }}" alt="Photo de profil">
                        {% else %}
                            <i class="bi bi-person-fill" style="font-size: 25px;"></i>
                        {% endif %}
                        
                         {{ app.user.username }}</a>
                    {% else %}
                        <a href="{{ path('app_login') }}"><i class="bi bi-person-fill"></i></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Section: Flash Messages -->
        <div class="container mt-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert mt-4 alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <!-- Section: Body -->
        {% block body %}{% endblock %}

        <!-- Section: Footer -->
        <footer class="footer py-4 bg-secondary-color mt-5">
            <div class="container text-center">
                <p class="small mb-0">
                    &copy; {{ "now"|date("Y") }} Créer avec <i class="bi bi-suit-heart-fill text-danger"></i> Par {{ about.firstname }} {{ about.lastname }}
                </p>
            </div>
        </footer>
        
        <!-- Section: Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>      
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            
            <script>
                function printfile() {
                    const style = document.createElement('style');
                    style.type = 'text/css';
                    style.media = 'print';
                    style.innerHTML = `
                        header, footer, .navbar, .section {
                            display: none;
                        }
                    `;
                    document.head.appendChild(style);
                    window.print();
                }
            </script>
    
        {% endblock %}
    </body>
</html>
