<!-- Section: Portfolio -->
    <section class="section-portfolio bg-custom-gray" id="portfolio">
        <div class="container">
            <h2 class="text-danger mb-5">Mes Projets</h2>
            <div class="portfolio">
                <!-- Loupe en appuyant sur le nom de l'image -->
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        Nouveauté
                    </a>
                    <a href="#" data-filter=".advertising">
                        Symfony
                    </a>
                    <a href="#" data-filter=".branding">
                        Javascript
                    </a>
                    <a href="#" data-filter=".web">
                        Web
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="images/projects/web-accueil-robbie-lens-photographie.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/web-accueil-robbie-lens-photographie.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">ROBBIE LENS</h6>
                                    <a href="images/projects/web-accueil-robbie-lens-photographie.png" class="subtitle-target" target="_blank">Accueil du site de Robbie Lens photographe!</a>
                                </div>
                            </div>
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="images/projects/web-a-propos-robbie-lens-photographie.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/web-a-propos-robbie-lens-photographie.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">ROBBIE LENS</h6>
                                    <a href="images/projects/web-a-propos-robbie-lens-photographie.png" class="subtitle-target" target="_blank">Biographie de Robbie Lens photographe!</a>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="images/projects/advertising-dragon.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">                         
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/advertising-dragon.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">DRAGON</h6>
                                    <a href="images/projects/advertising-dragon.jpg" class="subtitle-target" target="_blank">Site de Dragon comprenant des articles!</a>
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="images/projects/web-portfolio-robbie-lens-photographie.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/web-portfolio-robbie-lens-photographie.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">ROBBIE LENS</h6>
                                    <a href="images/projects/web-portfolio-robbie-lens-photographie.png" class="subtitle-target" target="_blank">Portfolio de Robbie Lens photographe!</a>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 advertising"> 
                        <div class="portfolio-item">
                            <img src="images/projects/advertising-maquette.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">                               
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/advertising-maquette.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">MAQUETTE</h6>
                                    <a href="images/projects/advertising-maquette.jpg" class="subtitle-target" target="blank">Site de création de jeux videos</a>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="images/projects/web-form-contact.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">  
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/web-form-contact.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">ROBBIE LENS</h6>
                                    <a href="images/projects/web-form-contact.png" class="subtitle-target" target="blank">Formulaire de contact pour joindre Robbie Lens photographe!</a>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="images/projects/advertising-vignette.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">       
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/advertising-vignette.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">VIGNETTE</h6>
                                    <a href="images/projects/advertising-vignette.png" class="subtitle-target" target="_blank">Formulaire de coordonnées!</a>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="images/projects/advertising-player.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/advertising-player.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">PLAYER</h6>
                                    <a href="images/projects/advertising-player.png" class="subtitle-target" target="_blank">Site de diffusion musicale!</a>
                                </div>
                            </div>
                        </div>                                
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="images/projects/branding-techno.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">                        
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/branding-techno.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">TECHNO</h6>
                                    <a href="images/projects/branding-techno.png" class="subtitle-target" target="_blank">Site de nouvelles technologies!</a>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="images/projects/branding-zoning.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">  
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/branding-zoning.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Zoning</h6>
                                    <a href="images/projects/branding-zoning.png" class="subtitle-target" target="blank">Site de présentation de lieu avec article descriptif!</a>
                                </div>
                            </div>
                        </div>                                                     
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="images/projects/branding-snowhunt.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free bootstrap 4 templates">   
                            <div class="content-holder">
                                <a class="img-popup" href="images/projects/branding-snowhunt.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Snow Hunt</h6>
                                    <a href="images/projects/branding-snowhunt.png" class="subtitle-target" target="_blank">Spot de glisse!</a>
                                </div>
                            </div>
                        </div>                                                    
                    </div>
                </div> 
            </div>  
        </div>            
    </section>


{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <div class="container my-5">
        <h2 class="text-danger mb-5">Mon Portfolio</h2>
        
        <!-- Section: Filters -->
        <div class="filters text-center mb-4">
            <a href="#" data-filter="*" class="btn btn-info active">Tous</a>
            <a href="#" data-filter=".new" class="btn btn-info">Nouveauté</a>
            <a href="#" data-filter=".symfony" class="btn btn-info">Symfony</a>
            <a href="#" data-filter=".javascript" class="btn btn-info">Javascript</a>
            <a href="#" data-filter=".web" class="btn btn-info">Web</a>
        </div>

        <!-- Section: Portfolio Items -->
        <div class="row portfolio-container">
            {% for project in projects %}
                <div class="col-lg-4 col-md-6 portfolio-item {{ project.skills|lower }}">
                    <div class="card mb-4">
                        <img src="{{ asset('uploads/projects/' ~ project.image) }}" class="card-img-top" alt="{{ project.title }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ project.title }}</h3>
                            <p class="card-text">{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterButtons = document.querySelectorAll('.filters a');
            const portfolioItems = document.querySelectorAll('.portfolio-item');

            filterButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const filter = this.getAttribute('data-filter');

                    filterButtons.forEach(btn => btn.classList.remove('active'));
                    this.classList.add('active');

                    portfolioItems.forEach(item => {
                        if (filter === '*' || item.classList.contains(filter.substring(1))) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
